h1 {
    color: white;
    margin-left: 30px;
}

.header * {
    border: solid;
} 

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    background-color: red;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

.menu{
    margin-right: 30px;
}

.menu a{
    margin-left: 20px;
}

.origami{
    position: relative;
}

.origami h3{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
}

.origami:hover h3{
    opacity: 1;
}

.origami:hover iframe{
    opacity: 0.33;
    transform: scale(1.2);
} 